body {
	text-align: center;
  padding: 0;
  margin: 0;
}

.piece-icon {
	width: 50px;
}

@keyframes playerPiece {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}

.player {
  animation-name: playerPiece;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
}

@keyframes cpuPiece {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(0);
  }
}

.cpu {
  animation-name: cpuPiece;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1.2s;
}

.hidden {
    visibility: hidden;
}

@keyframes resultsDisplay {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.results {
  animation-name: resultsDisplay;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1.8s;
}

.select-menu {
  background-color: black;
  padding-bottom: 20px;
}

.results-display {
  background-color: black;
}

.match-display {
  background-image: url("battle.png");
}

img {
  position:relative;
}



.line {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  position:relative;
  z-index: 0;
}

#line1 {
  float: left;
  animation-name: lineMove1;
}

#line2 {
  float: right;
  animation-name: lineMove2;
}

#line3 {
  float: left;
  animation-name: lineMove3;
}

#line4 {
  float: right;
  animation-name: lineMove4;
}

#line5 {
  float: left;
  animation-name: lineMove5;
}

#line6 {
  float: right;
  animation-name: lineMove6;
}

@keyframes lineMove1 {
  0% {
    transform: translate(800%, 300%);
  }
  100% {
    transform: translate(-100%, 300%);
  }
}

@keyframes lineMove2 {
  0% {
    transform: translate(10%, 3000%);
  }
  90% {
    transform: translate(-800%, 3000%);
  }
  90.1% {
    transform: translate(100%, 3000%);
  }
  100% {
    transform: translate(10%, 3000%);
  }
}

@keyframes lineMove3 {
  0% {
    transform: translate(160%, 4300%);
  }
  40% {
    transform: translate(-200%, 4300%);
  }
  40.1% {
    transform: translate(700%, 4300%);
  }
  100% {
    transform: translate(160%, 4300%);
  }
}

@keyframes lineMove4 {
  0% {
    transform: translate(-160%, 800%);
  }
  60% {
    transform: translate(-700%, 800%);
  }
  60.1% {
    transform: translate(200%, 800%);
  }
  100% {
    transform: translate(-160%, 800%);
  }
}

@keyframes lineMove5 {
  0% {
    transform: translate(-75%, 6000%);
  }
  25% {
    transform: translate(-300%, 6000%);
  }
  25.1% {
    transform: translate(600%, 6000%);
  }
  100% {
    transform: translate(-75%, 6000%);
  }
}

@keyframes lineMove6 {
  0% {
    transform: translate(75%, 5100%);
  }
  75% {
    transform: translate(-600%, 5100%);
  }
  75.1% {
    transform: translate(300%, 5100%);
  }
  100% {
    transform: translate(75%, 5100%);
  }
}